@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img {
    max-width: 100%
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    "one one"
    "two three"
    "four five"
    "six six";
  grid-gap: 10px;
  padding: 10px;
}

/* Boxes */
.one {
  grid-area: one;
  background: #a33;
  color: #fff;
  padding: 20px;
}

.two {
  grid-area: two;
  background: #f2e394;
  padding: 20px;
}

.three {
  grid-area: three;
  background: #82af82;
  padding: 20px;
}

.four {
  grid-area: four;
  background: #add8e6;
  padding: 20px;
}

.five {
  grid-area: five;
  background: #6a5acd;
  color: #fff;
  padding: 20px;
}

.six {
  grid-area: six;
  background: #ff69b4;
  padding: 20px;
}
